@font-face {
  font-family: 'chunkfive';
  src: url('chunkfive.ttf')  format('truetype'),
}

body {
  background-color: #8CBACC;
  color: gray;
}

h1 {
  font-size: 2em;
  text-shadow: gray 2px 2px;
  color: red;
  font-family: "chunkfive", serif;
}

h2 {
  color: #316A80;
  font-family: "chunkfive", serif;
}

a {
  text-decoration: none;
}

#container {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  background-image:url('../../public/paper_texture.jpg');
}

#search-page {
  text-align: center;
}

#description-list li{
  text-decoration: none;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.search-results {
  width: 30%;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  padding: 15px;
  vertical-align: top;
}

.shadow {
  -moz-box-shadow:    2px 3px 3px 3px #ccc;
  -webkit-box-shadow: 2px 3px 3px 3px #ccc;
  box-shadow:         2px 3px 3px 3px #ccc;
}

.float-left {
  float: left;
}

.center {
  display: inline-block;

}

.float-right {
  float: right;
}



/* media-queries */
@media (max-width: 900px) {
  body {
    background-color: darkblue
  }
#description-list {
  text-align: center;
}
#description-list li{
  display: block;
  text-align: center;
}


}
